{% extends "base.html" %}
{% block header %}
    {{ form.media }}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<script src="{{ STATIC_URL }}../media/js/script.js"></script>
{% endblock %}

{% block content %}

 {% if user.is_authenticated %}
 <form method="POST" action="." enctype="multipart/form-data" id="form_id">
 {% csrf_token %}
 <div class="container">
        {% if form.errors %}
             {{form.email.errors}}
        {% endif %}
        <div class="leftSide">
        <p>{{ form.first_name.label_tag }}:{{ form.first_name }}</p>
        <p>{{ form.last_name.label_tag }}:{{ form.last_name }}</p>
        <p>{{ form.birth_date.label_tag }}:{{ form.birth_date }}</p>
        <p>{{ form.photo.label_tag }}:{{ form.photo }}</p>
        {% if info.photo %}
            <div><img src="{{ info.photo.url }}" width="300" height="200" alt=""></div>
        {% endif %}
        
 </div>
<div class="centerSide">
        <p>{{ form.email.label_tag }}:{{ form.email }}</p>
        <p>{{ form.jabber.label_tag }}:{{ form.jabber }}</p>
        <p>{{ form.skype.label_tag }}:{{ form.skype }}</p>
        <p class align="textarea">{{ form.other_contacts.label_tag }}:{{ form.other_contacts|safe }}</p>
        <p class="textarea">{{ form.bio.label_tag }}:{{ form.bio|safe }}</p>

</div>
 </div>
<input type="submit" value="submit" />
<a href="{% url 'index' %}">cancel</a>
<div id="progress" >Progressssssssssssssssss</div>
 </form>

 {% else %}
     You have not rights
     <a href="{% url 'login' %}">Login</a>
 {% endif %}

<div class="underline">
    <hr>
    <a href={% url 'requests' %}>queries</a>
</div>
{% endblock %}
