<div class="container_inline">
    <div class="leftSide">
        <p>{{ info.first_name }}&nbsp;{{ info.last_name }}</p>
        <p>{{ info.birth_date|date:'d-m-Y' }}</p>
        <p>{{ info.email }}</p>

    </div>
    <div class="centerSide">
        <p class="textarea_inline">{{ info.bio|safe }}</p>
    </div>
    <div class="rightSide">
       {% if info.photo %}
            <img src="{{ info.photo.url }}" width="300" height="200" alt="">
       {% else %}
           No photo
       {% endif %}


    </div>
</div>
