body {
    background-color:#ffffff;
}

.container {
    position:relative;
    padding:10px;
    height:600px;
}

.leftSide {
    width:300px;
    float:left;
}
.centerSide {
    width:300px;
    float:left;
    
}

.rightSide {
    width:300px;
    float:left;

}

.textarea {
    width:200px;
    height:200px;
    background-color: #E8E8E8;
}

#progress{
    display: none;
}

.submit{
    float:left;
    width:300px;
}

.underline {
    position: relative;
}

#requests{
    width:100%;
    border:1px black;
}