body {
    background-color:#ffffff;
}

.container {
    position:relative;
    padding:10px;
    height:700px;
}

.leftSide {
    width:400px;
    float:left;
}
.centerSide {
    width:400px;
    float:left;
    
}

.rightSide {
    width:300px;
    float:left;

}

.textarea {
    width:200px;
    height:200px;
    
}

#progress{
    display: none;
}

.submit{
    float:left;
    width:300px;
    
}

.underline {
    position: relative;
}

#requests{
    width:100%;
    border:1px black;
}

.container_inline{
    height:200px;
    width: 900px;
    padding: 20px;
    border:1px solid black;
}
.textarea_inline{
    width:400px;
    height:200px;
}

.container_inline .leftSide {
    width: 200px;
    height:200px;
}

.container .container_inline {
    margin-bottom: 20px;
}